__pycache__/
checkpoints/
dataset/
multistage_fed/__pycache__/
runs/
utils/__pycache__/

..gitignore.un~
.IL_control.py.un~
.README.md.un~
.config.py.un~
.dataloader.py.un~
.fed_train.py.swp
.fed_train.py.un~
.fusion.py.un~
.gitignore.swp
.gitignore~
.manual_control_cap.py.un~
.train.py.un~
IL_control.py~
README.md~
config.py~
dataloader.py~
fed_train.py~
fusion.py~
manual_control_cap.py~
multistage_fed/.fed_config.py.un~
multistage_fed/.fed_scheduler.py.un~
multistage_fed/.fed_server.py.un~
multistage_fed/fed_client.py~
multistage_fed/fed_config.py~
multistage_fed/fed_scheduler.py~
multistage_fed/fed_server.py~
multistage_fed/.fed_server.py.swp
train.py~
